{# empty Twig template #}
{% extends "adminBase.html.twig"%}

{% block loggedinstat %}
    {% if loggedin_stat == true %}

                                <li class="nav-item active">
                                    <a class="nav-link" href="{{ absolute_url(path('app_logout')) }}">Logout</span></a>
                                </li>
                            {% else %}
                                <li class="nav-item active">
                                    <a class="nav-link" href="{{ absolute_url(path('app_login')) }}">Login</span></a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="{{ absolute_url(path('app_register')) }}">Register</span></a>
                                </li>
                            {% endif %}
{% endblock %}
{% block body %}
{{message}}
{% endblock %}